{% extends 'layout.html' %}
{% block about %}

<div class="container w-50%" style="margin-top: 9%;" >
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4"> Reset Password </legend>
       
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is_invalid")}}
            {% for error in form.email.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
       
 
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
           
        </div>
    </form>
</div>

{% endblock about %}
